/* Use Inter for body text and Source Serif 4 for headings */
.navbar {
    font-family: "Inter";
    font-weight: 300;
    font-size: 16px;
}

body {
    font-family: 'Inter', serif;  /* Inter will apply to all body text */
    font-size: 16px;
    font-weight: 300;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
    margin-top: 50px;
}

h1, h2, h3 {
    font-family: "Source Serif 4", serif;
    font-weight: 400;  /* Use a lighter weight for headings */
    color: #000000;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 22px;
}


.container {
    max-width: 900px;  /* Set a maximum width for readability */
    margin: 0 auto;
    padding: 20px;
}

/* Center images inside the container */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
}

.image-container img {
    max-width: 60%;
    height: auto;
}

@media (max-width: 768px) {
    .image-container img {
        max-width: 100%;  /* Full-width on smaller screens */
    }
}

.code-block {
    border: 1px solid #ccc; /* Border around the code block */
    padding: 2px;          /* Add some padding inside the block */
    border-radius: 5px;      /* Optional: Rounded corners */
    background-color: #f9f9f9; /* Optional: Background color */
    overflow-x: auto;        /* Enable horizontal scrolling if the code is too wide */
    font-family: monospace;  /* Ensure monospace font for code */
}

