@import "tailwindcss";
@plugin "daisyui";


body {
  @apply bg-base-100;
}


@theme {
    --font-lilex: "Lilex Nerd", sans-serif;
}


@font-face {
  font-family: 'Lilex Nerd';
  src: url('/fonts/lilex/LilexNerdFont-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Lilex Nerd';
  src: url('/fonts/lilex/LilexNerdFont-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lilex Nerd';
  src: url('/fonts/lilex/LilexNerdFont-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Lilex Nerd';
  src: url('/fonts/lilex/LilexNerdFont-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Lilex Nerd';
  src: url('/fonts/lilex/LilexNerdFont-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

